<?xml version="1.0"?>
<!--
/**
 * Mageplaza_BetterBlog extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_BetterBlog
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 *
 *
 * ===================================================================================
 *   INCLUDE THIS EXTENSION TO YOUR THEMES, PLEASE CONTACT ME AT harrytpps@gmail.com
 * ===================================================================================
 *
 *
 */
-->
<config>
    <modules>
        <Mageplaza_BetterBlog>
            <version>1.0.4</version>
        </Mageplaza_BetterBlog>
    </modules>
    <global>
        <resources>
            <mageplaza_betterblog_setup>
                <setup>
                    <module>Mageplaza_BetterBlog</module>
                    <class>Mageplaza_BetterBlog_Model_Resource_Setup</class>
                </setup>
            </mageplaza_betterblog_setup>
        </resources>
        <blocks>
            <mageplaza_betterblog>
                <class>Mageplaza_BetterBlog_Block</class>
            </mageplaza_betterblog>
        </blocks>
        <helpers>
            <mageplaza_betterblog>
                <class>Mageplaza_BetterBlog_Helper</class>
            </mageplaza_betterblog>
        </helpers>
        <models>
            <mageplaza_betterblog>
                <class>Mageplaza_BetterBlog_Model</class>
                <resourceModel>mageplaza_betterblog_resource</resourceModel>
            </mageplaza_betterblog>
            <mageplaza_betterblog_resource>
                <class>Mageplaza_BetterBlog_Model_Resource</class>
                <entities>
                    <post>
                        <table>mageplaza_betterblog_post</table>
                    </post>
                    <category>
                        <table>mageplaza_betterblog_category</table>
                    </category>
                    <tag>
                        <table>mageplaza_betterblog_tag</table>
                    </tag>
                    <category_store>
                        <table>mageplaza_betterblog_category_store</table>
                    </category_store>
                    <tag_store>
                        <table>mageplaza_betterblog_tag_store</table>
                    </tag_store>
                    <post_category>
                        <table>mageplaza_betterblog_post_category</table>
                    </post_category>
                    <category_post>
                        <table>mageplaza_betterblog_post_category</table>
                    </category_post>
                    <post_tag>
                        <table>mageplaza_betterblog_post_tag</table>
                    </post_tag>
                    <tag_post>
                        <table>mageplaza_betterblog_post_tag</table>
                    </tag_post>
                    <post_comment>
                        <table>mageplaza_betterblog_post_comment</table>
                    </post_comment>
                    <post_comment_store>
                        <table>mageplaza_betterblog_post_comment_store</table>
                    </post_comment_store>
                    <eav_attribute>
                        <table>mageplaza_betterblog_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </mageplaza_betterblog_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Mageplaza_BetterBlog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mageplaza_betterblog>
                        <class>Mageplaza_BetterBlog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mageplaza_betterblog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mageplaza_betterblog>
                    <file>mageplaza_betterblog.xml</file>
                </mageplaza_betterblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_BetterBlog>
                    <files>
                        <default>Mageplaza_BetterBlog.csv</default>
                    </files>
                </Mageplaza_BetterBlog>
            </modules>
        </translate>
        <global_search>
            <post>
                <class>mageplaza_betterblog/adminhtml_search_post</class>
                <acl>mageplaza_betterblog</acl>
            </post>
            <tag>
                <class>mageplaza_betterblog/adminhtml_search_tag</class>
                <acl>mageplaza_betterblog</acl>
            </tag>
        </global_search>
        <events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <type>singleton</type>
                        <class>mageplaza_betterblog/feed</class>
                        <method>updateFeed</method>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
            <betterblog_sitemap_products_generating_before>
                <observers>
                    <adminnotification>
                        <type>singleton</type>
                        <class>mageplaza_betterblog/observer</class>
                        <method>generateSitemap</method>
                    </adminnotification>
                </observers>
            </betterblog_sitemap_products_generating_before>

        </events>

    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mageplaza_BetterBlog before="Mage_Adminhtml">Mageplaza_BetterBlog_Adminhtml</Mageplaza_BetterBlog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mageplaza_betterblog>
                <use>standard</use>
                <args>
                    <module>Mageplaza_BetterBlog</module>
                    <frontName>blog</frontName>
                </args>
            </mageplaza_betterblog>
        </routers>
        <layout>
            <updates>
                <mageplaza_betterblog>
                    <file>mageplaza_betterblog.xml</file>
                </mageplaza_betterblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_BetterBlog>
                    <files>
                        <default>Mageplaza_BetterBlog.csv</default>
                    </files>
                </Mageplaza_BetterBlog>
            </modules>
        </translate>
    </frontend>
    <default>
        <mageplaza_betterblog>
            <general>
                <name>Blog</name>
                <sidebar_right>1</sidebar_right>
                <sidebar_left>1</sidebar_left>
                <tag_limit>10</tag_limit>
                <toplinks>1</toplinks>
                <footer>1</footer>
            </general>
            <post>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>blog</url_prefix>
                <url_suffix>html</url_suffix>
                <url_rewrite_list>posts</url_rewrite_list>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Blog</meta_title>
                <number_recent_posts>5</number_recent_posts>
                <show_post_same_category>1</show_post_same_category>
                <post_same_category_count>5</post_same_category_count>
            </post>
            <comment>
                <type>disqus</type>
                <disqus>mageplazablog</disqus>
                <facebook_number_comment>10</facebook_number_comment>
                <facebook_appid>1562328304081606</facebook_appid>
                <facebook_colorscheme>light</facebook_colorscheme>
                <facebook_order_by>social</facebook_order_by>
            </comment>
            <category>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>category</url_prefix>
                <tree>0</tree>
                <recursion>2</recursion>
            </category>
            <tag>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>tag</url_prefix>
            </tag>
            <sidebar>
                <enable_mostview>1</enable_mostview>
                <number_mostview_posts>5</number_mostview_posts>
                <number_comment>5</number_comment>
            </sidebar>
        </mageplaza_betterblog>
    </default>

    <crontab>
        <jobs>
            <betterblog_sitemap_generate>
                <run>
                    <model>mageplaza_betterblog/observer::scheduledGenerateSitemaps</model>
                </run>
            </betterblog_sitemap_generate>
        </jobs>
    </crontab>

</config>
